{% extends 'layout.html' %}
{% block title %} GroupArt {% endblock %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<body>

    <div class="services-box">
        <div class="header-text">
            {% if user.is_authenticated %}
            <p>Bienvenido {{ user.username }}</p>
        {% endif %}

        <button type="button" onclick="window.location.href='/eliminar-cuenta'" style="background-color: #008000; color: #ffffff;">Eliminar Cuenta</button>
        <div class="separator"></div>
        <button type="button" onclick="window.location.href='/editar-perfil'" style="background-color: #008000; color: #ffffff;">Editar Cuenta</button>

    </div>



</body>
{% endblock %}


