{% extends 'layout.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<body>
    <P>Inicio de sesion requerido</P>
    <form method="post">

        {% csrf_token %}

        <label for="usuario">
            Ingrese su usuario
            <input type="text" placeholder="..." name="username">
        </label>
        <label for="password">
            Ingrese su contraseña
            <input type="password" placeholder="..." name="password">
        </label>
        <button type="submit"> iniciar sesión</button>
    </form>
</body>

{% endblock %}