<!-- app_name/templates/password_reset_form.html -->
{% extends 'layout.html' %}
{% block title %} Recuperación de contraseña {% endblock %}

{% block content %}
<body>
    <div class="form-box">
        <div class="header-text">
            Recuperación de contraseña
        </div>
        <div>
            <p>Ingresa tu dirección de correo electrónico para restablecer tu contraseña:</p>
        </div>
        <form method="post">
            {% csrf_token %}
            
            <div>
                {{ form.as_p }}
            </div>

            <button type="submit" style="background-color: #007bff; color: #ffffff;">Enviar correo de recuperación</button>

        <div class="separator"></div>


            
        </form>
    </div>
</body>
{% endblock %}