<!-- app_name/templates/password_reset_confirm.html -->
{% extends 'layout.html' %}
{% block title %} Restablecer contraseña {% endblock %}

{% block content %}
<body>
    <div class="form-box">
        <div class="header-text">
            Restablecer contraseña
        </div>
        <div>
            <p>Ingresa tu nueva contraseña para restablecerla:</p>
        </div>
        <form method="post">
            {% csrf_token %}
            
            <div>
                {{ form.as_p }}
            </div>

            <button type="submit" style="background-color: #007bff; color: #ffffff;">Restablecer contraseña</button>

        <div class="separator"></div>


            
        </form>
    </div>
</body>
{% endblock %}