<!-- app_name/templates/password_reset_done.html -->
{% extends 'layout.html' %}
{% block title %} Correo de recuperación enviado {% endblock %}

{% block content %}
<body>
    <div class="form-box">
        <div class="header-text">
            Correo de recuperación enviado
        </div>
        <div>
            <p>Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada.</p>
        </div>
    </div>
</body>
{% endblock %}