<!-- app_name/templates/password_reset_email.html -->
{% load i18n %}

{% blocktrans %}Has solicitado una recuperación de contraseña en nuestro sitio web Group Art. Por favor, sigue el enlace a continuación para restablecer tu contraseña:

{% endblocktrans %}

{% block link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid=uid token=token %}
{% endblock %}

Si no has solicitado esta recuperación de contraseña, ignora este mensaje.

Gracias,
El equipo de Soporte de GroupArt
