
.register-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	position: relative;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 1220px;
}

.register-box::before {
	background-image: url('/static/img/fondo.jpg');
	width: 105%;
	height: 105%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(0px);
}

.register-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 8px;
	text-align: center;
}

.register-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}

.register-box input[type=checkbox] {
	display: none;
}

.register-box label {
	position: static;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	/* width: 20px; */
	height: 20px;
	cursor: pointer;
}

.register-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 140px;
	bottom: 190px;
	background-color: rgb(221, 221, 221);
}

.register-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}

.register-box span {
	font-size: 14px;
}

.register-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}