.services-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	position: relative;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 954px;
	height: 58px;
	text-align: center;

	text-align: center;

	
}
.services-box::before {
	width: 105%;
	height: 105%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(0px);
}

.services-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 8px;
	text-align: center;
}

.services-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}

.services-box input[type=checkbox] {
	display: none;
}

.services-box label {
	position: static;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	/* width: 20px; */
	height: 20px;
	cursor: pointer;
}

.services-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 140px;
	bottom: 190px;

}

.services-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}

.services-box span {
	font-size: 14px;
}

.services-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}

.services-button {
	background-color: deepskyblue;
	color: #fff;
	border: 2px solid #0077b6;
	/* Cambiamos el color del borde */
	border-radius: 22px;
	cursor: pointer;
	width: 20%;
	font-size: 18px;
	padding: 7px;
	margin: 20px 0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, color 0.3s;
	position: absolute;
}

.services-button:hover {
	background-color: #0077b6;
	color: #fff;
}

.miperfil {
	left: 350px;

}

.misservicios {
	left: 680px;
}

.configuracion {
	left: 1050px;
}

.transparent-button {
	background: rgba(0, 0, 0, 0.5);
	/* Color de fondo con transparencia */
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px;
	cursor: pointer;
}

/* Cambia el estilo de la cuadrícula a un diseño flexible (Flexbox) */
.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio uniforme entre las tarjetas */
}

/* Estilos para las tarjetas individuales */
.service-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    padding: 30px;
    position: relative;
    width: calc(33.33% - 10px); /* Calcula el ancho de cada tarjeta para que haya 3 por fila */
    margin-bottom: 20px; /* Espacio entre las filas */
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para la cabecera de la tarjeta (título y opciones) */


.options {
    display: flex;
    gap: 10px;
}

.edit-icon, .delete-icon {
    color: #ffffff;
    text-decoration: none;
}

/* Posiciona los iconos en la esquina superior derecha de la cabecera */
.edit-icon {
    margin-left: auto;
}
.detail-card {
	
	
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    padding: 30px;
    position: fixed;
    position: fixed;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	margin-left: 500px;
	
	margin-left: 500px;
	
}

.block-card {
	pointer-events: none;
}

.edit-service-box{
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	position: relative;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 750px;
}

.edit-service-box::before {
	width: 105%;
	height: 105%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(0px);
}

.edit-service-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 8px;
	text-align: center;
}

.edit-service-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}

.edit-service-box input[type=checkbox] {
	display: none;
}

.edit-service-box label {
	position: static;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	/* width: 20px; */
	height: 20px;
	cursor: pointer;
}

.edit-service-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 140px;
	bottom: 190px;

}

.edit-service-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}

.edit-service-box span {
	font-size: 14px;
}

.edit-service-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}.subpestañas {
    display: none;
}

.service-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .service-card:nth-child(even) {
	margin-left: 20px;
  }
  
  .service-card:nth-child(odd) {
	margin-right: 20px;
  }
  
  .service-card {
	opacity: 0.8;
  }
  
  .service-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .service-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .service-card {
	background-color: #101314;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.8;
  
	/* Animación al cargar */
	transition: opacity 0.5s;
  
	/* Animación al desplazarse */
	transform: translate(0, 10px);
	transition: transform 0.5s;
  }
  
  .service-card:nth-child(even) {
	margin-left: 20px;
  }
  
  .service-card:nth-child(odd) {
	margin-right: 20px;
  }
  
  .service-card:hover {
	opacity: 1;
	transform: translate(0, 0);
  }
  
  @media (max-width: 768px) {
	.service-card {
	  width: 200px;
	  height: 200px;
	}
  }
 
		.edit-service-box{
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	position: relative;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 750px;
}

.edit-service-box::before {
	width: 105%;
	height: 105%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(0px);
}

.edit-service-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 8px;
	text-align: center;
}

.edit-service-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}

.edit-service-box input[type=checkbox] {
	display: none;
}

.edit-service-box label {
	position: static;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	/* width: 20px; */
	height: 20px;
	cursor: pointer;
}

.edit-service-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 140px;
	bottom: 190px;

}

.edit-service-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}

.edit-service-box span {
	font-size: 14px;
}

.edit-service-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}