{% extends 'layout.html' %}
{% block title %} Confirmación de pago {% endblock %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container detail-card">
    <div class="row">
        <div class="col-md-12">
            <h1>Confirmación de pago</h1>
            <p>El proceso de contratación se ha iniciado correctamente</p>
            <p>Revise el estado con el siguiente número: {{flowOrder}}</p>
            <p>Gracias por comprar en nuestra tienda</p>
        </div>
    </div>
{% endblock %}