<!-- app_name/templates/edit_profile.html -->
{% extends 'layout.html' %}
{% block title %} Editar Perfil {% endblock %}

{% block content %}
<body>
    <div class="form-box">
        <div class="header-text">
            Jaja hola
        </div>

        <form method="post">
            {% csrf_token %}
            <p>¿Estás seguro de que deseas eliminar el servicio "{{ service.title }}"?</p>
            <button type="submit">Eliminar</button>
            <a href="{% url 'service-detail' service.id %}">Cancelar</a>
        </form>
        

            {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
        </form>
    </div>
</body>
{% endblock %}