{% extends 'layout.html' %}
{% block title %} Lista de servicios  {% endblock %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
    <div class="services-box">
        <h1>Lista de Servicios Disponibles</h1>
        <div class="service-cards">
            {% for service in services %}
                <div class="service-card">
                    <div class="options">
                        <a href="{% url 'edit-service' service.id %}" class="edit-icon" title="Editar servicio"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-service' service.id %}" class="delete-icon" title="Eliminar servicio"><i class="fas fa-trash-alt"></i></a>
                    </div>
                
                    <h2><a href="{% url 'service-detail' service.id %}">{{ service.title }}</a></h2>              
                    <p>Creado por: {{ service.created_by.full_name }}</p>
                    <p>Fecha: {{ service.date }}</p>
                    <p>Precio estimado: ${{ service.price }}</p>
                    <p>Disponibilidad: {% if service.availability %} Disponible {% else %} No Disponible {% endif %}</p>
                    <p>Categoría: {{ service.category.category_name }}</p>
                </div>
            {% endfor %}
        </div>
        
        <a href="{% url 'service-create' %}">Crear un Nuevo Servicio</a>
    </div>
{% endblock %}