{% comment %} {% extends 'layout.html' %} {% endcomment %}
{% block title %} Detalles {% endblock %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
    <div class="detail-card">
        <h1>Detalles del Servicio</h1>
        <h2>{{ service.title }}</h2>
        <p>Creado por: {{ service.created_by.full_name }}</p>
        <p>Fecha: {{ service.date }}</p>
        <p>Descripción: {{ service.description }}</p>
        <p>Precio: ${{ service.price }}</p>
        <p>Disponibilidad: {% if service.availability %} Disponible {% else %} No Disponible {% endif %}</p>
        <p>Categoría: {{ service.category.category_name }}</p>
        <p>Estado: {{ service.status.status_name }}</p>
    </div>
{% endblock %}