{% for service in services %}
    <div class="service-card">
        <div class="options">
            {% if service.created_by == request.user.userprofile %}
                <a href="{% url 'edit-service' service.id %}" class="edit-icon"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete-service' service.id %}" class="delete-icon"><i class="fas fa-trash-alt"></i></a>
            {% else %}
                <span class="edit-icon disabled"><i class=""></i></span>
                <span class="delete-icon disabled"><i class=""></i></span>
            {% endif %}
        </div>
    
        <h2><a onClick="showDetails('{{ service.title }}', '{{ service.created_by.full_name }}', '{{ service.date }}', '{{ service.description }}', '{{ service.price }}', '{% if service.availability %} Disponible {% else %} No Disponible {% endif %}', '{{ service.category.category_name }}', '{{ service.status.status_name }}')">{{ service.title }}</a></h2>             
        <p>Creado por: {{ service.created_by.full_name }}</p>
        <p>Fecha: {{ service.date }}</p>
        <p>Precio estimado: ${{ service.price }}</p>
        <p>Disponibilidad: {% if service.availability %} Disponible {% else %} No Disponible {% endif %}</p>
        <p>Categoría: {{ service.category.category_name }}</p>
    </div>
{% endfor %}
