{% extends 'layout.html' %}
{% block title %} GroupArt {% endblock %}
{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<body>

    <div>
        <button class= "services-button miperfil" onclick="window.location.href='/ver-perfil'"type="button"  >Mi perfil</button>
    </div>

    <div>
        <button class= "services-button misservicios" onclick="window.location.href='/my-services'" type="button"  >Mis servicios</button>
    </div>

    <div>
        <button class= "services-button configuracion" type="button"  >Configuración</button>
    </div>
<br>
    <div class="services-box">
        <div class="header-text">
            {% if user.is_authenticated %}
            <p>Bienvenido {{ user.username }}</p>
        {% endif %}
    </div>



</body>
{% endblock %}


